body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 30px;
    text-align: center;

}

.container {
    width: 1000px;
    margin: 0 auto;
   
}

header {
    background: #ebebeb;
    padding-dow
}

nav {
    background: #ebebeb;

}

section {
    background: #ebebeb;

}

aside {
    background: #ebebeb;

}

footer {
    background: #ebebeb;

}