body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    font-size: 18px;
    text-align: center;
    

}
/* Wraps everything into center container */
.container {
    width: 1000px;
    margin: 0 auto;
   
}

header{
    background: #ebebeb;
    height: 60px;
    margin-bottom: 10px;
    padding-top: 40px;

}

nav {
    background: #ebebeb;
    height: 60px;
    margin-bottom: 10px;
    padding-top:40px;
}

#section {
    background: #ebebeb;
    Height: 250px;
    width:60%; 
    float: left;
    margin-right:10px;
    margin-bottom: 15px;
    padding-top: 30px;
    margin-top:10px;
    
    
}


#article {
    clear: both;
    overflow: auto;
    height: 189px;
    background: #777;
    color: #ebebeb;
    float: center;
    margin: 15px 5px 5px 5px;
    padding: 10px;
}

p {
    background: #ebebeb;
    height: 50px;
    float: center;
    color: #777;
    width: 95%;
    margin-left: 20px;
    padding-top: 15px;
    

}

aside {
    background: #ebebeb;
    Height: 250px;
    width:390px;
    float: left;
    padding-top: 30px;
    margin-top: 10px;
}

footer {
    clear:both;
    overflow: auto;
    background: #ebebeb;
    height: 60px;
    margin-bottom: 10px;
    padding-top:40px;x
    
}